.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    .All{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: cover;
        font-size: 18px;
        .Completed{
            border-bottom: 1px solid rgb(77, 74, 74);
            margin-bottom: 10px;
            padding: 20px;
            font-weight: 500;
            
            button{
                background-color: white;
                border: 1px solid rgb(150, 88, 162);
                color: rgb(182, 175, 175);
                font-weight: 500;
                padding: 10px 30px;
                border-radius: 5px;
                margin-left: 70px;
                &:hover{
                    background-color: rgb(168, 85, 131);
                
            }
        }
            .Active{
                margin-bottom: 10px;
                border-bottom: 1px solid rgb(77, 74, 74);
                padding: 20px;
                font-weight: 500;
        
        }
    }
    .footer{
        display: flex;
        gap: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 13px;
        color: rgb(141, 129, 129);
        .navigate{
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-between;
            a{
                text-decoration: none;
                margin-left: 50px;
                color: rgb(134, 128, 128);
                font-weight: 500;
                &:hover{
                    color: rgb(248, 89, 10);
                }
            }
           
        }
    }
    .clear_completed{
        margin-top: 20px;
        margin-left: 100px;
        button{
            background-color: white;
            border: 1px solid rgb(150, 88, 162);
            color: rgb(182, 175, 175);
            font-weight: 500;
            padding: 10px 30px;
            border-radius: 5px;
            &:hover{
                background-color: rgb(168, 85, 131);
            }
        }
    }

}}